.table-res-container{
    font-family: IRANSansWeb(FaNum) ;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
}

.table-res-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 428px;
}

.table-res-header{
    margin-left: 400px;
    margin-bottom: 100px;
}

.table-res-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.table-res-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 48px;
}

.table-res-item{
    width: 339px;
    height: 94px;
    background-color: #ffffff;
    margin-bottom: 19px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-res-item > Button{
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: inherit;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 21px;
}