body{
    font-family: IRANSansWeb(FaNum) ;
    background: url('../public/img/img2.png') no-repeat center;
    height: 926px;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    direction: rtl;
}